.unLI{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.posts-container{
    display: flex;
    flex-direction: column;
    padding: 90px;
    border: 1px solid skyblue;
    margin: 10px;
}
.title{
    

}
.content{
    
}